<h1>Assignments</h1>

<div class="row">

<% @assignments.each do |s| %>

    <% if s.user.id == current_user.id %>
    <div class="col-md-3">
    <div class="card">
        <img src="<%= s.task.photo  %>" alt="" class="card-img-top">
        <div class="card-body">
        <h3 class="card-title"><%= s.task.name %></h3>
        <p class="card-text"><%= s.task.description  %></p>
        
        <% if s.completed == false %>
            <%= link_to 'completar', assignment_path(s.id), method: :put, class:'btn btn-success'%>
        <% else %>
            <%= link_to 'Descompletar', assignment_path(s.id), method: :put, class:'btn btn-outline-info' %>
        <% end %>
        <%= link_to 'Ver', task_path(s.task.id), class:'btn btn-link' %>
        </div>
        </div>
    </div>
    <% end  %>
<% end %>

</div>
