
<div class="row">
  <div class="col-md-4">
      <div class="card">
        <img src="<%= @task.photo %>" alt="" class="card-img-top">
  
        <div class="card-body">
          
          <h3 class="card-title"><%= @task.name  %></h3>
          <p class="card-text"> <%= @task.description %> </p>
        </div>
      </div>
    </div>

  <div class="col-md-8">
    <h4>Primeros en completar la tarea</h4>

  <% @first_five.each  do |t| %>
    <div class="card card-topfive">
      <div class="card-body">
        <img src="<%= t.user.avatar %>" alt="avatar" class="rounded-circle">
        <p class="name"> <strong><%= t.user.email %> </strong ><%= t.created_at %></p>
        
      </div>
    </div>
  <% end %>

<div class="list-section">
<h3>Otros usuarios que completaron la tarea</h3>
<ul class="list">
<% @lasts.each  do |t| %>
  <li><%= t.user.email %></li>
<% end %>
</ul>

</div>

  </div>
</div>



